name: Analyze Repo with git-sizer
run-name: Analyze Repo with git-sizer - ${{ github.event.inputs.repo }}

on:
  workflow_dispatch:
    inputs:
      repo:
        description: 'Repository to analyze (e.g., https://github.com/owner/repo.git)'
        required: true

jobs:
  run-git-sizer:
    name: git-sizer - ${{ github.event.inputs.repo }}
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Use local git-sizer action
        id: sizer
        uses: ChrisCarini/github-git-sizer-action@09eaa4ae73038a5f0bbdc7e7b964f1bf6114c277 # latest
        with:
          repo: ${{ github.event.inputs.repo }}
          flags: '--threshold=0'

      - name: Print git-sizer output
        run: |
          printf "%s\n" "${{ steps.sizer.outputs.result }}"
