name: Upload Releases to Archive.org

on:
  workflow_dispatch:
  release:
    types: [published]

concurrency:
  group: IA-${{ github.ref }}
  cancel-in-progress: true

jobs:
  upload-windows:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Download release tarball + zip
        id: download_zip
        uses: robinraju/release-downloader@daf26c55d821e836577a15f77d86ddc078948b05 # v1.12
        with:
          repository: Nick2bad4u/internet-archive-upload
          latest: true
          tarBall: true
          zipBall: true
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload tarball + zip to archive.org
        uses: Nick2bad4u/internet-archive-upload@947bc6bdf79d0bcf816b576082fd7b503d33ddc9 # v1.6
        with:
          access-key: ${{ secrets.IA_ACCESS_KEY }}
          secret-key: ${{ secrets.IA_SECRET_KEY }}
          identifier: Github-Action-IA-Archiver-${{ steps.download_zip.outputs.tag_name }}
          files: ./
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
