# MegaLinter workflow customized for FitFileViewer
name: MegaLinter

on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: megalinter-${{ github.ref }}
  cancel-in-progress: false

jobs:
  megalinter:
    runs-on: ubuntu-latest

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: MegaLinter
        id: megalinter
        uses: oxsecurity/megalinter@42bb470545e359597e7f12156947c436e4e3fb9a # v9.3.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DISABLE_LINTERS: SPELL_CSPELL
          EXCLUDED_DIRECTORIES: libs, tests, screenshots, node_modules, icons
          SHOW_ELAPSED_TIME: true
          GITHUB_STATUS_REPORTER: true
          FILEIO_REPORTER: true
          GITHUB_COMMENT_REPORTER: true
          JSON_REPORTER: true
          JSON_REPORTER_OUTPUT_DETAIL: true
          MARKDOWN_SUMMARY_REPORTER: true
          SARIF_REPORTER: true
          TAP_REPORTER: true
          TAP_REPORTER_OUTPUT_DETAIL: true
          DISABLE_ERRORS: true
          JAVASCRIPT_DEFAULT_STYLE: prettier
          PRINT_ALL_FILES: true

      # Upload MegaLinter artifacts
      - name: Archive production artifacts
        if: success() || failure()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: MegaLinter reports
          path: |
            megalinter-reports
            mega-linter.log
        continue-on-error: true
